// @import '../../index.css';
// * {
//     outline: 1px solid green;
// }

.alignement:nth-child(odd) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alignement:nth-child(even) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
// img {
//     display: none;
// }

.nav-items-styling {
    padding: 80px 0;
    .pictures {
        // scale: 0.5;
        // width: 100%;
        // height: auto;
        // width: 540px;
        // height: 520px;
    }
    article {
       max-width: 445px;
       .newProduct {
        color: var(--primary-color);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
        .title {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1.43px;
        text-transform: uppercase;
        line-height: 44px;
        max-width: 385px;
        // min-height: 88px;
    }
        .description {
        font-weight: 500;
        font-size: 15px;
        opacity: 0.5;
        margin-top: 32px;
        line-height: 25px;
    }
        button {
        background-color: var(--primary-color);
        color: white;
        width: 160px;
        height: 48px;
        border: none;
        margin-top: 40px;
        }
        button:hover{
            background-color: var(--primary-color-hover);
            cursor: pointer;
       }
    }
}