@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

svg {
  margin-left: 10px;
}

svg:hover {
  fill: #D87D4A;
  cursor: pointer;
}

svg:hover path {
  fill: #D87D4A;
  cursor: pointer;
}

svg:hover polygon {
  fill: #D87D4A;
  cursor: pointer;
}

svg:hover circle {
  fill: #D87D4A;
  cursor: pointer;
}


.container {
  margin: 0 auto;
  width: 90%; 
  max-width: 1810px;
}